<!--<h2>Welcome!</h2>-->
<div class='post'>
  <p>I'm a graduate student studying Computer Science at Purdue University, with a graduating date of May 2017. I've previously interned at Facebook, Enova, and Interactive Intelligence. Post graduation, I'll be starting at Snap Inc. Occasionally I'll blog on here, usually just a brain dump of whatever I'm thinking at the time</p>

<p>Although not exactly considering myself a member of the Quantified Self movement, I do enjoy logging certain parts of myself online. I cook a lot, and post whatever looks decent to my <a href="http://www.instagram.com/nonis3">Instagram</a>. I retweet what mostly ends up being cat pictures on my <a href="https://twitter.com/__nonis">Twitter</a>. I keep a logging of whatever books I read or want to keep track of on my <a href="https://www.goodreads.com/nawns">Goodreads</a>. I track the music I listen to on <a href="http://www.last.fm/user/nonis3">last.fm</a>. You can also find my code on <a href="http://www.github.com/nawns">Github</a> and although I haven't really used it, I'm also on <a href="http://www.keybase.io/nonis">Keybase</a>.
</p>

  <p>Feel free to reach me at <a href="mailto:nonis@purdue.edu">nonis<span>@</span>purdue.edu</a></p>

</div>
