<h2>Welcome!</h2>
<div class='post'>
  <p>Hi! I'm Austin Schwartz. I'm a Computer Science student at Purdue University. My interests include systems design, programming languages, and general web development. My hobbies include running, DDR, drawing, and competitive programming. This blog mostly serves as a brain dump for whatever I've been thinking about.</p>

  <p>Recent blog posts:</p>
  $partial("partials/post-list.html")$

  <p>You can find me on the following sites: </p>

  <ul>
    <li><a href="http://www.github.com/nawns"><i class="fa fa-github"></i> Github</a></li>
    <li><a href="http://www.keybase.io/nonis"><i class="fa fa-key"></i> Keybase</a></li>
    <li><a href="http://www.last.fm/user/nonis3"><i class="fa fa-music"></i> last.fm</a></li>
  </ul>

  <p>Coding sites</p>

  <ul>
    <li><a href="http://codewars.com/users/nawns"><i class="fa fa-desktop"></i> Codewars</a></li>
    <li><a href="http://uhunt.felix-halim.net/id/258637"><i class="fa fa-desktop"></i> uHunt</a></li>
  </ul>

  <p>Feel free to reach me at <a href="mailto:nonis@protonmail.com">nonis<span>@</span>protonmail.com</a></p>

</div>
