<div class='post'>
<h2>Currently Reading</h2>
<ul>
<li>
<a href="http://www.goodreads.com/book/show/25563811-the-little-elixir-otp-guidebook">The Little Elixir & OTP Guidebook</a></li>
<li>
<a href="http://www.goodreads.com/book/show/192221.How_to_Solve_It">How to Solve It: A New Aspect of Mathematical Method</a></li>
<li>
<a href="http://www.goodreads.com/book/show/24072897-deep-learning">Deep Learning</a></li>
<li>
<a href="http://www.goodreads.com/book/show/16123828-the-nature-of-code">The Nature of Code</a></li>
<li>
<a href="http://www.goodreads.com/book/show/23463183-the-billion-dollar-spy">The Billion Dollar Spy: A True Story of Cold War Espionage and Betrayal</a></li>
</ul>
<h2>Last read</h2>
<table class='books'>
<tr><td><code style="vertical-align:bottom">05/30/17</code></td><td><a href="http://www.goodreads.com/book/show/14497.Neverwhere">Neverwhere</a></td></tr>
<tr><td><code style="vertical-align:bottom">05/20/17</code></td><td><i><b><a href="http://www.goodreads.com/book/show/222146.Masters_of_Doom">Masters of Doom: How Two Guys Created an Empire and Transformed Pop Culture</a></b></i></td></tr>
<tr><td><code style="vertical-align:bottom">05/11/17</code></td><td><a href="http://www.goodreads.com/book/show/7640261-sex-at-dawn">Sex at Dawn: The Prehistoric Origins of Modern Sexuality</a></td></tr>
<tr><td><code style="vertical-align:bottom">05/10/17</code></td><td><a href="http://www.goodreads.com/book/show/7630041-outliers">Outliers: The Story of Success</a></td></tr>
<tr><td><code style="vertical-align:bottom">02/28/17</code></td><td><a href="http://www.goodreads.com/book/show/29939230-a-conjuring-of-light">A Conjuring of Light (Shades of Magic, #3)</a></td></tr>
<tr><td><code style="vertical-align:bottom">02/26/17</code></td><td><a href="http://www.goodreads.com/book/show/25744928-deep-work">Deep Work: Rules for Focused Success in a Distracted World</a></td></tr>
<tr><td><code style="vertical-align:bottom">02/21/17</code></td><td><i><b><a href="http://www.goodreads.com/book/show/20764879-a-gathering-of-shadows">A Gathering of Shadows (Shades of Magic, #2)</a></b></i></td></tr>
<tr><td><code style="vertical-align:bottom">02/03/17</code></td><td><a href="http://www.goodreads.com/book/show/998.The_Millionaire_Next_Door">The Millionaire Next Door</a></td></tr>
<tr><td><code style="vertical-align:bottom">01/29/17</code></td><td><i><b><a href="http://www.goodreads.com/book/show/22055262-a-darker-shade-of-magic">A Darker Shade of Magic (Shades of Magic, #1)</a></b></i></td></tr>
<tr><td><code style="vertical-align:bottom">12/21/16</code></td><td><a href="http://www.goodreads.com/book/show/28257707-the-subtle-art-of-not-giving-a-f-ck">The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life</a></td></tr>
<tr><td><code style="vertical-align:bottom">10/15/16</code></td><td><a href="http://www.goodreads.com/book/show/17235026-the-girl-with-all-the-gifts">The Girl with All the Gifts</a></td></tr>
<tr><td><code style="vertical-align:bottom">08/03/16</code></td><td><i><b><a href="http://www.goodreads.com/book/show/223380.Stories_of_Your_Life_and_Others">Stories of Your Life and Others</a></b></i></td></tr>
<tr><td><code style="vertical-align:bottom">08/01/16</code></td><td><a href="http://www.goodreads.com/book/show/905.The_Inner_Game_of_Tennis">The Inner Game of Tennis: The Classic Guide to the Mental Side of Peak Performance</a></td></tr>
<tr><td><code style="vertical-align:bottom">07/27/16</code></td><td><i><b><a href="http://www.goodreads.com/book/show/168668.Catch_22">Catch-22</a></b></i></td></tr>
<tr><td><code style="vertical-align:bottom">07/20/16</code></td><td><a href="http://www.goodreads.com/book/show/23453112-modern-romance">Modern Romance</a></td></tr>
<tr><td><code style="vertical-align:bottom">07/01/16</code></td><td><a href="http://www.goodreads.com/book/show/5308.The_Pearl">The Pearl</a></td></tr>
<tr><td><code style="vertical-align:bottom">06/20/16</code></td><td><a href="http://www.goodreads.com/book/show/5306.Travels_with_Charley">Travels with Charley: In Search of America</a></td></tr>
<tr><td><code style="vertical-align:bottom">01/31/16</code></td><td><a href="http://www.goodreads.com/book/show/156784.Permutation_City">Permutation City (Subjective Cosmology #2)</a></td></tr>
<tr><td><code style="vertical-align:bottom">01/25/16</code></td><td><a href="http://www.goodreads.com/book/show/9969571-ready-player-one">Ready Player One</a></td></tr>
<tr><td><code style="vertical-align:bottom">01/12/16</code></td><td><a href="http://www.goodreads.com/book/show/2173611.House_of_Many_Ways">House of Many Ways (Howl's Moving Castle, #3)</a></td></tr>
</table>
</br>
This list is automatically generated from my <a href="https://www.goodreads.com/user/show/16597993-austin">my goodreads account</a> by <a href="https://github.com/nonis3/goodreads-scraper">this script</a>. Books in italics are tagged on goodreads as those I particularly liked.
</div>
