<div class='post'>
<h2>Currently Reading</h2>
<ul style='list-style:none'>
<li>
<b>Mar 09 2017</b> - <a href='http://www.goodreads.com/book/show/192221.How_to_Solve_It'>How to Solve It: A New Aspect of Mathematical Method</a>
</li>
<li>
<b>Feb 28 2017</b> - <a href='http://www.goodreads.com/book/show/24072897-deep-learning'>Deep Learning</a>
</li>
<li>
<b>Feb 26 2017</b> - <a href='http://www.goodreads.com/book/show/16123828-the-nature-of-code'>The Nature of Code</a>
</li>
<li>
<b>Feb 22 2017</b> - <a href='http://www.goodreads.com/book/show/23463183-the-billion-dollar-spy'>The Billion Dollar Spy: A True Story of Cold War Espionage and Betrayal</a>
</li>
<li>
<b>Feb 21 2017</b> - <a href='http://www.goodreads.com/book/show/17471298-quantum-computing-since-democritus'>Quantum Computing Since Democritus</a>
</li>
</ul>
<h2>Last read</h2>
<ul style='list-style:none'>
<li>
<b>Feb 26 2017</b> - <a href='http://www.goodreads.com/book/show/1220264.Compiling_with_Continuations'>Compiling with Continuations</a>
</li>
<li>
<b>Feb 26 2017</b> - <a href='http://www.goodreads.com/book/show/24879806-operating-system-design'>Operating System Design: The Xinu Approach</a>
</li>
<li>
<b>Feb 28 2017</b> - <a href='http://www.goodreads.com/book/show/29939230-a-conjuring-of-light'>A Conjuring of Light (Shades of Magic, #3)</a>
</li>
<li>
<b>Feb 26 2017</b> - <a href='http://www.goodreads.com/book/show/25744928-deep-work'>Deep Work: Rules for Focused Success in a Distracted World</a>
</li>
<li>
<b>Dec 21 2016</b> - <a href='http://www.goodreads.com/book/show/28257707-the-subtle-art-of-not-giving-a-f-ck'>The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life</a>
</li>
</ul>
</div>
