<footer>
  © 2017 Austin Schwartz | <a href="mailto:me@austinschwartz.com">contact</a> | <a href="http://www.github.com/nonis3"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="http://www.instagram.com/nonis3"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="http://www.linkedin.com/in/austinschwartz"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="http://www.twitter.com/__nonis"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://github.com/nonis3/blog"><i class="fa fa-code" aria-hidden="true"></i></a>
</footer>
