$background: #282a36;
$current:  #44475a;
$selection:  #44475a;
$foreground: #f8f8f2;
$comment:  #6272a4;
$cyan:    #8be9fd;
$green:   #50fa7b;
$orange:  #ffb86c;
$pink:    #ff79c6;
$purple:  #bd93f9;
$red:   #ff5555;
$yellow:  #f1fa8c;
$white:   #FFF;
$black:   #333;
$line-color: #fff;

$main-font: "Nunito", sans-serif;
$header-font: "Open Sans", sans-serif;
// $main-font: "Palatino Linotype", Palatino, Georgia, "Times New Roman", Times, serif;
$title-font: "Open Sans", sans-serif;
//$title-font: "hydrophilia-iced";
$a-color:    $red;
$h-color:    $black;
$main-color:    $black;
$hover-color:   $red;
$background-color: $white;

body {
  font-family: $main-font;
  color: $main-color;
  font-size: larger;
  /*line-height: 1.4em;*/
  /*font-size: 1.25em;*/
	font-size: 17px;
	line-height: 1.42857143;
  font-weight: 300;
  max-width: 740px;
  margin: 0 auto;
  background: $background-color;
  line-height: 1.6;

	@media screen and (max-width: 400px) {
		font-size: smaller ;
	}
}


#logo {
  font-family: $title-font;
  font-size: 2em;
  text-decoration: none;
  margin: 10px 10px 0 0;
  float: left;
}

/*h1, h2, h3, em, strong {font-weight: 400;}*/
h1, h2, h3, h4 {text-align: left;}

.content h1, .footer h1, h2, h3 {
  font-family: $header-font; 
  line-height: 1em;
}

a {
  /*color: $a-color;*/
	color: $main-color;
  transition: color 0.2s ease-in-out;
	text-decoration: none;
  &:hover {
    color: $hover-color;
  }
  ul & {
    text-decoration: none;
    color: $main-color;
  }
}

.fa {
	color: $a-color;
}

.books {
  a {
    text-decoration: none;
    color: $main-color;
    &:hover {
      color: $hover-color;
      /*border-bottom: 1px dotted $hover-color;*/
    }
  }
  td {
    display: table-cell;
    vertical-align: top; 
  }
}

.header a {
  color: $main-color;
  text-decoration: none;
  &:hover {
    color: $main-color;
    border-bottom: 0px;
  }
}

.overview {
  max-width: 520px; margin: 25px auto;
  a {
    text-decoration: none;
  }
}
.detail {
	font-size: 20px; margin-left: 150px;  text-decoration: none;
	@media screen and (max-width: 400px) {
		font-size: 16px ;
		margin-left: 40px;
	}
}
.archive {
	font-size: 14px;
	@media screen and (max-width: 400px) {
		font-size: 12px ;
	}
}
.date {
    line-height: 2em; padding-top: 2px;
    float: left; width: 135px; color: #555;
    text-align: right; font-size: 14px;
	@media screen and (max-width: 400px) {
		display:none;
	}
}

.wrapper {
  margin-top: 35px;
	padding: 20px;
}

.header {
  text-align:center;
}

.content, .footer {
  margin: 0 auto;
  /*text-align: justify;*/
  /*line-height: 1.5em;*/
}

.author {
  font-size: 16px;
}

.content {
  /*margin-bottom: 2em;*/
}

ul.menu {
  margin: 0;
  padding: 0;
}

.menu {
  position: relative;
  top: 15px;
}

.menu li {
  display: inline;
  margin: 15px;
	@media screen and (max-width: 400px) {
    margin: 10px;
	}
}

div.highlight {
  background: #eee;
  font-size: 12px;
  line-height:20px;
  margin-right: 10px;
}

pre {
  font-size: 1.1em;
  background-color: #333233;
  padding: 7px;
	@media screen and (max-width: 500px) {
    font-size: .9em;
	}
	@media screen and (max-width: 400px) {
    font-size: .8em;
	}
}

code {
  font-size: .75em;
  padding: 2px 5px;
  margin: 0 2px;
  background: rgb(238, 238, 238);
  /*font-family: monaco,Consolas,Lucida Console,monospace; */
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  border-radius: 4px;
}

.post {
  /*padding: 15px;*/
	padding: 0px;
	font-size: 17.5px;
	font-weight: 400;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

#thinline {
  height: 0.5px;
  border: 0;
  border-top: 1px solid $line-color;
  margin: 1.5em 0;
  width: 100%;
}

#bar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: .3em;
  /*background-image: linear-gradient(to left, $main-color 0%, $main-color 100%);*/
  background-color: $a-color;
  z-index: 10001;

  /*background: url(http://i.imgur.com/aLodVU4.jpg);*/
  background-size: cover;
  background-position: left 60%;
  overflow: hidden;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	@media screen and (max-width: 500px) {
    max-width: 60%;
	}
	@media screen and (max-width: 400px) {
    max-width: 50%;
	}
}

blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}

footer {
	margin-top: 50px;
	margin-bottom: 80px;
	text-align: right;
  padding: 30px 0;
	padding-left: 15px;
	padding-right: 15px;
  line-height: 2em;
  color: #555;
	clear: left;
	.fa {
		padding: 0px 5px;
		display: inline-block;
		font-size: 32px;
	}
	@media screen and (max-width: 500px) {
		font-size: 16px ;
	}
	@media screen and (max-width: 400px) {
		font-size: 12px ;
	}
}

.math, .katex, .katex-html {
  overflow:auto;
  max-width: 95vw;
  @media screen and (max-width: 500px) {
    font-size: 85%;
  }
  @media screen and (max-width: 400px) {
    font-size: 75%;
  }
}

h1 + .info { color: #555; margin-top: -15px; }

// @media(max-width: 220px){
//   .content { max-width: 320px;}
// }

// @media(max-width: 380px){
//   // .content { max-width: 480px;}
//   .overview { margin-left: 0px; margin-right: 0px; }
// }

// @media(max-width: 740px){
//   .content { max-width: 640px;}
//   .date { display: none; }
//   .detail { margin-left: 0px; margin-right: 0px;  }
// }
