
$dark-blue: #032f62;
$dark-gray: #24292e;

$blue: #2A9D8F; //#005CC5;
$red: #E76F51; //#d73a49;
$purple: #F4A261; //#6f42c1;

$grey-blue: #6272a4;
$almost-black: #24292e;

.highlight {
  color: $dark-gray;

  .hll,
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .se,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: $blue;
  }

  .s2 {
    color: $dark-blue;
  }

  .go { // ??
    color: $purple;
  }

  .err,
  .g,
  .l,
  .n,
  .x,
  .p,
  .ge,
  .gr,
  .gh,
  .gi,
  .gp,
  .gs,
  .gu,
  .gt,
  .ld,
  .no,
  .nd,
  .ni,
  .ne,
  .nn,
  .nx,
  .py,
  .w,
  .bp {
    /*color: $purple;*/
    color: $almost-black;
  }

  .gh,
  .gi,
  .gu {
    font-weight: bold;
  }

  .ge {
    text-decoration: underline;
  }

  .bp {
    font-style: italic;
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs {
    // ?
    color: $grey-blue
  }

  .kd,
  .kt,
  .nb,
  .k,
  .nl,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    color: $blue;
  }

  .na,
  .nc,
  .nf,
  .fm {
    color: $purple;
  }

  .kc {
    color: $blue;
  }

  .o,
  .cp,
  .kn,
  .kp,
  .kr,
  .nt,
	.k,
  .ow {
    color: $red;
  }

  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: $blue;
  }

  .gd {
    // ?
  }
}
