<!DOCTYPE html>
  <head>
    $partial("partials/head.html")$
  </head>
  <body>
    <div id="bar"></div>
    <div class="wrapper">
      <div class="header">
        <h1 id="logo">nonis</h1>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/notes">Notes</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/books">Books</a></li>
        </ul>
      </div>
      <div class="content">
        <hr>
        $body$
      </div>
      <div class="footer">
        $partial("partials/footer.html")$
      </div>
    </div>
  </body>
</html>
