<div class="header">
  <header>
    <strong>
      <span class="firstName">Austin</span>
      <span class="lastName">Schwartz</span>
    </strong>
  </header>
  <nav>
    <strong><a href="/">Blog</a></strong>
    <span class="sep">-</span>
    <!--<strong><a href="/posts">Posts</a></strong>-->
    <!--<span class="sep">-</span>-->
    <!--<strong><a href="/projects">Projects</a></strong>-->
    <strong><a href="/books">Books</a></strong>
    <span class="sep">-</span>
    <strong><a href="/about">About</a></strong>
  </nav>
</div>
<!-- </div> -->
<hr id="thinline">
