<!--
         *                  *
             __                *
          ,db'    *     *
         ,d8/       *        *    *
         888
         `db\       *     *
           `o`_                    **
      *               *   *    _      *
            *                 / )
         *    (\__/) *       ( (  *
       ,-.,-.,)    (.,-.,-.,-.) ).,-.,-.
      | @|  ={      }= | @|  / / | @|o |
     _j__j__j_)     `-------/ /__j__j__j_
     ________(               /___________
      |  | @| \              || o|O | @|
      |o |  |,'\       ,   ,'"|  |  |  |  hjw
     vV\|/vV|`-'\  ,---\   | \Vv\hjwVv\//v
                _) )    `. \ /
               (__/       ) )
                         (_/
-->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@austischwartz"/>
<meta name="twitter:site" content="@austischwartz"/>
<meta name="twitter:title" content="Austin Schwartz"/>
<meta name="twitter:domain" content="austinschwartz.com">
<meta name="twitter:description" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Austin Schwartz - $title$</title>
<link href="//austinschwartz.com/rss.xml" rel="alternate" title="Atom" type="application/atom+xml"/>
<script src="//use.typekit.net/lub7eet.js"></script>
<script>
!function(e,t,n,a,c,l,m,o,d,f,h,i){c[l]&&(d=e.createElement(t),d[n]=c[l],e[a]("head")[0].appendChild(d),e.documentElement.className+=" wf-cached"),function s(){for(d=e[a](t),f="",h=0;h<d.length;h++)i=d[h][n],i.match(m)&&(f+=i);f&&(c[l]="/**/"+f),setTimeout(s,o+=o)}()}(document,"style","innerHTML","getElementsByTagName",localStorage,"tk",/^@font|^\.tk-/,100);
try{Typekit.load({async:true});}catch(e){}</script>
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="//fonts.googleapis.com/css?family=Nunito:400,700,300|Varela+Round" rel="stylesheet" type="text/css">
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/js/javascripts.js"></script>
$if(math)$
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei" crossorigin="anonymous">

$endif$
<meta name="viewport" content="width=device-width, initial-scale=1">

